
<!DOCTYPE html>
<html>
	<head>
		<title>Song & Toy</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/link">Links</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:1228112360@qq.com">email</a></li>
			</ul>
		</footer>
	</body>
</html>
